<aside class="sidebar" style="position: sticky !important; top: 100px;">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves" id="left-sidebar" style="padding-left: 10px; padding-right: 10px;">
			<li>
				<i class="ti-user"></i>
				<a href="/people-nearby">People nearby</a>
			</li>

			<li>
				<i class="ti-video-camera"></i>
				<a href="/watch">Watch</a>
			</li>

			<li>
				<i class="ti-user"></i>
				<a href="/friends">
					Friends
					<span class="badge" id="friends-badge"></span>
				</a>
			</li>

			<li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Inbox <span class="badge" id="inbox-badge"></span></a>
			</li>

			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">
					Notifications
					<span class="badge" id="notifications-badge"></span>
				</a>
			</li>

			<li>
				<i class="ti-files"></i>
				<a href="/createPage">Create page</a>
				<span class="txt-premium"></span>
			</li>

			<li>
				<i class="ti-magnet"></i>
				<a href="/createGroup">Create group</a>
				<span class="txt-premium"></span>
			</li>

			<li>
				<i class="ti-calendar"></i>
				<a href="/events">Events <span class="badge" id="events-badge"></span></a>
				<span class="txt-premium"></span>
			</li>
		</ul>
	</div>
</aside>